@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bahnschrift";
  src: url("/public/fonts/Bahnschrift.TTF");
}

@font-face {
  font-family: "Kage";
  src: url("/public/fonts/Kage-black.otf");
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Bahnschrift";
}
body {
  position: relative;
  background: #303A39;
  min-height: 100dvh;
  font-family: "Bahnschrift";
}

@media (max-width: 420px) {
  .mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@layer components {
  .close-modal-button {
    @apply absolute -top-[2.5%] rounded-md hover:brightness-90 px-3 py-1 text-[#fff] text-sm bg-actionBg left-0 z-30
  }
}

@layer utilities {
  .max-container {
    @apply mx-auto max-w-[1440px]
  }

  .upload-button {
    @apply rounded-lg px-6 py-1 hover:brightness-90 bg-actionBg shadow-sm green-3d-effect
  }

  .deleted-gallery-button {
    @apply rounded-lg px-6 py-1 hover:brightness-90 bg-[#000] shadow-sm black-3d-effect
  }

  .auth-button {
    @apply text-sm max-sm:px-4 max-sm:py-1 bg-red hover:brightness-90  rounded-lg px-6 py-2 text-[#fff]
  }

  .uploading-cont {
    @apply flex flex-col sm:flex-row  mx-auto 
  }

  .upload-album-button {
    @apply bg-actionBg green-3d-effect hover:brightness-95 duration-300 transition-all justify-self-start w-[6rem] mt-3 px-3 py-[0.35rem]  text-[#fff] rounded-lg text-sm
  }

  .comment-text {
    @apply comment-line-height text-[#fff] text-sm mr-2
  }
  /* .small-screen-menu {
    @apply top-[100%] right-0 absolute  glassy-white border border-[#fff] rounded-xl p-2 text-[#fff]  flex  flex-col
  } */
}

.date {
  font-family: "Kage";
}

.rotate {
  animation: rotate 2s 0s linear infinite both both;
  transform-origin: center;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.glassy-white {
  background: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  background-color: rgba(119, 168, 163, 0.2);
}

.action {
  background-color: #303A39;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,0.5),
              inset -3px -3px 3px  rgba(255,255,255,0.5);
  
/* box-shadow: 
            inset -5px -5px 5px rgba(255,255,255,0.5),
            inset 5px 5px 5px rgba(0,0,0,0.05),
            -5px -5px 5px rgba(255,255,255,0.5),
            5px 5px 5px rgba(0,0,0,0.05)            ; */
  /* background-color: #212f2d; */
}

.input-shadow {
  box-shadow: inset 3px 3px 4px rgba(255,255,255,0.5);
}

.glassy-blue {
  background: rgba(27, 54, 83, 0.5);
  backdrop-filter: blur(6px);
}
.glassy-green {
  background: rgb(69, 125, 121, 0.5);
  backdrop-filter: blur(6px);
}

.glassy-blue-gradient {
  background: #1b3653;
  backdrop-filter: blur(6px);
}

.basis-min-content {
  flex-basis: min-content; 
}

.text-green {
  background: #04A998;
  box-shadow: 3px 3px 3px rgb(4, 169, 152, 0.6) inset,
              -1px -1px 3px rgb(0, 0, 0, 0.3) inset,
              -2px -2px 3px rgb(4, 169, 152, 0.5) inset
              ;
}

/* .upload-container {
  background: #1b3653;
  filter: brightness(120%);
} */

.green-3d-effect {
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.332)  inset,
              -3px -3px 3px rgba(255, 255, 255, 0.332) inset
  ;
}

.red-3d-effect {
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.332)  inset,
              -3px -3px 3px rgba(255, 255, 255, 0.332)  inset
  ;
}

.blue-3d-effect {
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.332)  inset,
              -3px -3px 3px rgba(255, 255, 255, 0.332)  inset
  ;
}

.black-3d-effect {
  box-shadow: 3px 3px 3px rgba(255, 255, 255, 0.332)  inset,
              -3px -3px 3px rgba(255, 255, 255, 0.332)  inset
  ;
}

.comment-line-height {
  line-height: 1.1rem !important;
}