@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Bahnschrift";
  src: url("/public/fonts/Bahnschrift.TTF");
}

@font-face {
  font-family: "Kage";
  src: url("/public/fonts/Kage-black.otf");
}

html {
  scroll-behavior: smooth;
}
* {
  font-family: "Bahnschrift";
}
body {
  position: relative;
  overflow: hidden;
  background: #303A39;
  min-height: 100dvh;
  font-family: "Bahnschrift";
}

/* body::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(119, 168, 163, 0.2);
} */

@media (max-width: 420px) {
  .mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.date {
  font-family: "Kage";
}

.rotate {
  animation: rotate 2s 0s linear infinite both both;
  transform-origin: center;
  animation-play-state: running;
}

@keyframes rotate {
  from {
    transform: rotate(10deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.glassy-white {
  background: rgb(255, 255, 255, 0.8);
  backdrop-filter: blur(6px);
  background-color: rgba(119, 168, 163, 0.2);
}

.action {
  background-color: #303A39;
  box-shadow: inset 3px 3px 3px rgba(255,255,255,0.5),
              inset -3px -3px 3px  rgba(255,255,255,0.5);
  
/* box-shadow: 
            inset -5px -5px 5px rgba(255,255,255,0.5),
            inset 5px 5px 5px rgba(0,0,0,0.05),
            -5px -5px 5px rgba(255,255,255,0.5),
            5px 5px 5px rgba(0,0,0,0.05)            ; */
  /* background-color: #212f2d; */
}

.input-shadow {
  box-shadow: inset 3px 3px 4px rgba(255,255,255,0.5);
}

.glassy-blue {
  background: rgba(27, 54, 83, 0.5);
  backdrop-filter: blur(6px);
}
.glassy-green {
  background: rgb(69, 125, 121, 0.5);
  backdrop-filter: blur(6px);
}

.oval-top {
  width: 300px; /* Adjust as needed */
  height: 400px; /* Adjust as needed */
  clip-path: ellipse(50% 25% at 50% 0%);
  /* Alternatively, you can use an SVG path for more complex shapes */
  /* clip-path: path('M150,0 Q300,75 150,150 Q0,75 150,0'); */
}

.oval {
  clip-path: polygon(
    0 100px,
    0 calc(100% - 100px),
    100% calc(100% - 100px),
    100% 100px
  ); 
}


.circle-top,
.circle-bottom {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px;
  fill: #ccc;
  z-index: 1;
}

.circle-top {
  top: 0;
}

.circle-bottom {
  bottom: 0;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.image-wrapper {
  display: flex;
  flex-wrap: nowrap;
  position: relative;
  z-index: 2;
}

.image-wrapper img {
  max-width: 100%;
  height: auto;
  clip-path: url(#circle-mask);
}

.glassy-blue-gradient {
  background: linear-gradient(to right, rgba(27, 54, 83, 0.5), #04A998);
  /* background: linear-gradient(to right, rgba(27, 54, 83, 0.5), rgb(69, 125, 121, 0.8)); */
  backdrop-filter: blur(6px);
}

.card-wrapper {
  width: 300px;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  scroll-snap-align: center;
  box-sizing: border-box;
  padding: 20px 30px;
  flex-shrink: 0;
  width: 300px;
  background-color: #fff;
  border-radius: 14px;
  text-align: center;
}