@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  /* background-color: #131313; */
}

body {
  background: #000;
  /* background: rgb(119, 168, 163, 0.2); */
}

@media (max-width: 420px) {
  .mobile {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
